/.DS_Store
/Apple Pie.xcodeproj/xcuserdata/artemlistopadov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Apple Pie.xcodeproj/project.xcworkspace/xcuserdata/artemlistopadov.xcuserdatad/UserInterfaceState.xcuserstate
/Documentation/.DS_Store
